<ion-view view-title="Settings">
	<ion-content>
		<div style="margin-bottom:0" class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Preferred Units
		    </div>
		    <select>
		      <option selected>Metric</option>
		      <option>Imperial</option>
		    </select>
		  </label>
		</div>	
		 <div class="item item-toggle">
		     Receive MMS Route Map
		     <label class="toggle toggle-balanced">
		       <input type="checkbox" checked>
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </div>			
		<div style="margin-bottom:0" class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Usual transit mode
		    </div>
		    <select>
		      <option selected>TTC</option>
		      <option>Ferry</option>
		      <option>LRT</option>
		    </select>
		  </label>
		</div>	
		  <div class="item item-toggle">
		     Save past routes
		     <label class="toggle toggle-positive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </div>
		  <div class="item item-toggle">
		     Allow GPS
		     <label class="toggle toggle-calm">
		       <input type="checkbox" checked>
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </div>	  

		<div class="list card infoSettings">
		  <div style="text-align:center;font-weight:bold;" class="item">
		  		My <span class='polarisTitle'>polaris</span>
		  </div>
		  <div style="text-align:center;" class="item">
		   		+1-647-559-3820
		  </div>
		  <div style="text-overflow:initial;white-space:inherit;font-size:14px;" class="item">
		   		Let your North Star guide you home.<br/><br/>
		   		Travel safely with the comfort of knowing that you know where you are at every step of the way. 
		  </div>		  
		</div>

	</ion-content>
</ion-view>