<ion-view view-title="Directions">
  <ion-content>
    <div ng-show="directions.length" class="list showDir">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Distance</span>
        <div class="distOut">13 kM</div>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Duration</span>
        <div class="durationOut">20 min.</div>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Directions</span>
      </label>
      <ion-list type="list">
        <ion-item ng-repeat="direction in directions">
          {{direction}}
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>