a {
	text-decoration: none;
}

.nav-btn{
	position: absolute;
	bottom: 0px;
	width: 90%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7%;
}

.nav-btn{
	position: absolute;
	bottom: 0px;
	width: 90%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7%;
}

.nav-btn-2{
	position: fixed;
	bottom: 0px;
	width: 90%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}

.logo{
	width: 100%;
	min-height: 305px;
	margin-left: auto;
	margin-right: auto;
	background: url(../img/logo.png) center;
	background-size: cover;
	zoom: 1.2;
}

.lato-btn{
	font-family: 'Lato', sans serif;
	font-size:16px;
	font-weight:300;
	text-transform: uppercase;
	letter-spacing: 1px
}

.currentMode{
	background:#E74C3C !important;
	color:white !important;
}

.transitMode .col{
	text-align: center;
}

.transitMode .col button
{
	font-size: 30px;
	width: 90%;
	padding-top: 8px;
	padding-bottom: 8px;
}

.navRequest .input-label{
	font-family: Lato;
	font-size: 38px;
	font-weight: 100;
	color: #E74C3C;
}

.showDir .input-label{
	font-family: Lato;
	font-size: 34px;
	font-weight: 100;
	color: #E74C3C;	
}

.lato_title{
	font-family: 'Lato', sans serif;
	font-weight:100;
	font-size: 38px;
}

.navRequest input{
	font-size: 16px;
}

.item-content .icon{
	font-size: 1.5em;
	padding-right: 5px;
	top: 2px;
	position: relative;
	color: #E74C3C;
}

.distOut, .durationOut{
	font-weight:bold;
	font-size:15px;

}

.polarisTitle{
	color: #E74C3C;
	font-size:20px;
	font-family: Quicksand;
	font-weight:bold;
}

.specialItem{
	font-size:15px;
	text-oveflow:initial !important;
	white-space: inherit !important;

}
